# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Makefile binaries
bin/*
taskgen/taskgen

# Python generates CSV files for overhead data
python/*.csv
python/*.bin
python/*.sf32
python/*.float32

# This is the lock namespace/OD for rtspin
python/rtspin-locks

# where results are stored
results/*